%ul.breadcrumb
  %li
    %a{:href => '/'}= I18n.t('homepage')
    %span.divider /
  %li.active= I18n.t('stats.title')

.search{:style => "width:100%;height:100px;"}
  %form.form-search.pull-right{:method => "GET", :action => "/stat/app"}
    %select{:name => "app_id"}
      - @apps.each do |app|
        %option{:value => app.app_id}= app.name
    %button.btn{:type => "submit"}= I18n.t("stats.submit")
