!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1= I18n.t('password_reset')
    %p
      = I18n.t('password_reset_msg')
    %p
      = @url
